<div class="ml-72 mt-2 text-black">

  <div>

    <h1 class="text-3xl mb-3">Catálogo de flores</h1>
    <label for="search" class="block text-sm/6 font-medium text-gray-900">Búsqueda por nombre:</label>
    <div class="mt-2">
      <div class="rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">
        <input type="text" name="search" id="search" class="block min-w-0 grow py-1.5 pl-1 text-base text-gray-900 placeholder:text-gray-400  sm:text-sm/6" placeholder="Nombre..." maxlength="50" />
      </div>
    </div>

    <flower-list/>

  </div>

</div>